.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
  }
  
  .grid-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .grid-item p {
    margin: 8px 0;
  }
  
  .subjects {
    margin-top: 10px;
  }
  
  .subjects ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .subjects li {
    background-color: #eaeaea;
    margin: 5px 0;
    padding: 5px;
    border-radius: 4px;
  }
  .subject {
    padding-top: 20px;
    margin-bottom: 3px;
  }